<ion-view>
    <ion-content>
        <!--<ion-scroll direction="x" style="margin-top: 7px;">
            <div id="content">
                <div class="alphaItems item" style="font-size:20px">aA</div>
                <div class="alphaItems item" style="font-size:20px">bB</div>
                <div class="alphaItems item" style="font-size:20px">cC</div>
                <div class="alphaItems item" style="font-size:20px">dD</div>
                <div class="alphaItems item" style="font-size:20px">eE</div>
                <div class="alphaItems item" style="font-size:20px">fF</div>
                <div class="alphaItems item" style="font-size:20px">gG</div>
                <div class="alphaItems item" style="font-size:20px">hH</div>
                <div class="alphaItems item" style="font-size:20px">iI</div>
                <div class="alphaItems item" style="font-size:20px">jJ</div>
                <div class="alphaItems item" style="font-size:20px">kK</div>
                <div class="alphaItems item" style="font-size:20px">lL</div>
                <div class="alphaItems item" style="font-size:20px">mM</div>
                <div class="alphaItems item" style="font-size:20px">nN</div>
                <div class="alphaItems item" style="font-size:20px">oO</div>
                <div class="alphaItems item" style="font-size:20px">pP</div>
                <div class="alphaItems item" style="font-size:20px">qQ</div>
                <div class="alphaItems item" style="font-size:20px">rR</div>
                <div class="alphaItems item" style="font-size:20px">sS</div>
                <div class="alphaItems item" style="font-size:20px">tT</div>
                <div class="alphaItems item" style="font-size:20px">uU</div>
                <div class="alphaItems item" style="font-size:20px">vV</div>
                <div class="alphaItems item" style="font-size:20px">wW</div>
                <div class="alphaItems item" style="font-size:20px">xX</div>
                <div class="alphaItems item" style="font-size:20px">yY</div>
                <div class="alphaItems item" style="font-size:20px">zZ</div>

            </div>
        </ion-scroll>-->

        <div class="mainCnt padding">
            <div class="mainCntInner">
                <div class="innerWid">
                    <p class="paraTopBottom">Check back later!</p>
                    <p class="paraTopBottom">Our online store will be ready soon :)</p>

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>