<ion-view>
    <ion-tabs class="nav-bar-block" style="background-color:white" >

        <ion-tab  icon="ion-ios-list" >
            <ion-nav-view name="setting-tab"></ion-nav-view>
           
        </ion-tab>

        <ion-tab icon="ion-chatbubbles" ui-sref="tabs.about">
            <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab  icon="ion-plus-round" ui-sref="tabs.website">
            <ion-nav-view name="website-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-ios-bell" ui-sref="tabs.store">
            <ion-nav-view name="store-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-earth" ui-sref="tabs.thesaurus">
            <ion-nav-view name="thesaurus-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-earth" ui-sref="tabs.account">
            <ion-nav-view name="account-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
  
</ion-view>